shr {
  border: 1px solid rgba(255, 255, 255, 0.04);
}
body {
  background: linear-gradient(90deg, #000000 0%, #333333 100%);
  color: #ffffff;
  font-family: "Jura", sans-serif;
}
a {
  text-decoration: none;
}
h3 {
  margin-left: 20px;
}
h2 {
  font-style: normal;
  font-weight: 40;
  top: 45px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.html:hover,
.css:hover,
.react:hover,
.vue:hover,
.json:hover,
.javascript:hover,
.typescript:hover,
.telegram:hover,
.github:hover,
.lolz:hover,
.steam:hover {
  scale: 1.1;
  transition: 0.1s ease;
}
.using,
.social {
  margin-left: 80px;
  display: flex;
}
p {
  margin-left: 5px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #111111;
}
.html {
  background-color: #e09070ee;
  margin-left: 20px;
  display: flex;
  width: 150px;
  height: 60px;
  border-radius: 18px;
  cursor: pointer;
}
.css {
  background-color: #2f8ce9ec;
  margin-left: 20px;
  display: flex;
  width: 150px;
  height: 60px;
  border-radius: 18px;
  cursor: pointer;
}
.javascript {
  background-color: #ffff8bad;
  margin-left: 20px;
  display: flex;
  width: 200px;
  height: 60px;
  border-radius: 18px;
  cursor: pointer;
}
.json {
  background-color: #ebdda8a5;
  margin-left: 20px;
  display: flex;
  width: 150px;
  height: 60px;
  border-radius: 18px;
  cursor: pointer;
}
.react {
  background-color: #00c8faa7;
  margin-left: 20px;
  display: flex;
  width: 150px;
  height: 60px;
  border-radius: 18px;
  cursor: pointer;
}
.vue {
  background-color: #46c876a7;
  margin-left: 20px;
  display: flex;
  width: 150px;
  height: 60px;
  border-radius: 18px;
  cursor: pointer;
}
.typescript {
  background-color: #4a9bd6;
  margin-left: 20px;
  display: flex;
  width: 200px;
  height: 60px;
  border-radius: 18px;
  cursor: pointer;
}
.telegram {
  background-color: #1d7fad;
  margin-left: 20px;
  display: flex;
  width: 180px;
  height: 60px;
  border-radius: 18px;
  cursor: pointer;
}
.lolz {
  background-color: #2e2e2e;
  margin-left: 20px;
  display: flex;
  width: 180px;
  height: 60px;
  border-radius: 18px;
  cursor: pointer;
}
.github {
  background-color: #ffffffc3;
  margin-left: 20px;
  display: flex;
  width: 160px;
  height: 60px;
  border-radius: 18px;
  cursor: pointer;
}
.steam {
  background-color: #2f6ad8cb;
  margin-left: 20px;
  display: flex;
  width: 160px;
  height: 60px;
  border-radius: 18px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  p {
    visibility: hidden;
    display: none;
  }
  .html,
  .css,
  .javascript,
  .typescript,
  .react,
  .vue,
  .json,
  .telegram,
  .github,
  .lolz,
  .steam {
    width: 70px;
    text-align: center;
  }
}
img {
  border-radius: 22%;
  padding: 6px;
}
.white {
  color: rgba(255, 255, 255, 0.89);
}

@media (max-width: 1000px) {
  .html p,
  .css p,
  .javascript p,
  .typescript p,
  .react p,
  .vue p,
  .json p,
  .telegram p,
  .github p,
  .lolz p,
  .steam p {
    display: block;
  }
}

body {
  background: linear-gradient(
    90deg,
    #000000 0%,
    #111111 15%,
    #222222 30%,
    #111111 45%,
    #000000 60%,
    #111111 75%,
    #222222 90%,
    #111111 100%
  );
  background-size: 400% 400%; /* Increase the background size to make the wave wider */
  animation: gradient 10s ease-in-out infinite; /* Increase the duration and change the timing function to make the wave smoother */
  color: #ffffff;
  font-family: "Jura", sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#candle {
  width: 50px;
  height: 100px;
  background: linear-gradient(to bottom, #ffcc00 0%, #ff9900 50%, #ff6600 100%);
  border-radius: 50% 50% 0 0;
  box-shadow: 0 0 20px #ff9900;
  position: relative;
  overflow: hidden;
}

#flame {
  width: 30px;
  height: 50px;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    #ffcc00 20%,
    #ff9900 40%,
    #ff6600 60%,
    #ff3300 80%,
    transparent 100%
  );
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 10px;
  animation: flicker 0.8s infinite;
}

@keyframes flicker {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scal e(1);
  }
}
/* время */
#time-container {
  position: absolute;
  top: 16px;
  right: 20px;
}
#time {
  color: white;
  font-size: 28px;
  font-weight: bold;
  padding: 80px;
}
#date {
  color: white;
  font-size: 26px;
  font-weight: bold;
}

#stats-container {
  position: absolute;
  top: 35px;
  left: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .button {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 479px) {
  body {
    font-size: 12px;
  }

  .button {
    padding: 5px 10px;
    font-size: 12px;
  }
}
* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.container {
  height: 300px;
  overflow: scroll;
}
html,
body {
  overflow: hidden;
  height: 100%;
}
#kaliningrad {
  background-image: url(icons/water-60.gif);
  background-size: cover;
  background-position: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  filter: brightness(600%);
}
.html:hover,
.css:hover,
.react:hover,
.vue:hover,
.json:hover,
.javascript:hover,
.typescript:hover,
.telegram:hover,
.github:hover,
.lolz:hover,
.steam:hover {
  scale: 1.1;
  transition: 0.1s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.html:hover p,
.css:hover p,
.react:hover p,
.vue:hover p,
.json:hover p,
.javascript:hover p,
.typescript:hover p,
.telegram:hover p,
.github:hover p,
.lolz:hover p,
.steam:hover p {
  color: #ffffff;
}

.html:hover img,
.css:hover img,
.react:hover img,
.vue:hover img,
.json:hover img,
.javascript:hover img,
.typescript:hover img,
.telegram:hover img,
.github:hover img,
.lolz:hover img,
.steam:hover img {
  filter: brightness(108%);
}
